:root {
    --pri-color: #fff;
    --sec-color: #333;
    --accent-color: #fefefe;
    --bg-color:#efefef;
    --text-color: #222;
    --alt-text-color: #222;
}

.body {
    background-color: #fff;
}

h1 {
    
}

/* nav section */

